<link rel="stylesheet" type="text/css" href="../styles/main.scss">
<tr class="post-head">
  <td class="main-td">
    <table class="main-child">
      <tr>
        <td class="empty-child-one"></td>
        <td class="comment-box"><img src="https://image.ibb.co/etWM7J/comment.jpg" alt="IMG"></td>
        <td class="empty-child-two"></td>
        <td>
          <strong>{{authorFullName}}</strong> ({{authorHandle}}) mentioned you in a post in topic <a href="http://connect.topcoder.com/projects/{{projectId}}#feed-{{topicId}}"> {{topicTitle}} </a>.
        </td>
      </tr>
    </table>
  </td>
</tr>
