{{#if [EMAIL_INVITES]}}

    <link rel="stylesheet" type="text/css" href="../styles/main.scss">

    <tr class="post-head">
        <td class="main-td">
            <table class="main-child">
            <tr>
                <td class="empty-child-one"></td>
                <td class="comment-box"><img src="{{@root.connectURL}}/static/comment.jpg" alt="IMG"></td>
                <td class="empty-child-two"></td>
                <td>
                <strong>{{title}}</a>.
                </td>
            </tr>
            </table>
        </td>
    </tr>
    <tr class="empty-20">
        <td class="main-td">
            <table class="main-child">
            <tr><td></td></tr>
            </table>  
        </td>
    </tr>

    {{#if [isSSO]}}

        <tr class="post-details">
            <td class="main-td">
                <table class="main-child">
                    <tr>
                        <td class="empty-child-one"></td>
                        <td>You have been invited to a project by {{initiator.firstName}} {{initiator.lastName}}. Please use the link below to sign in and join the project.</td>
                    </tr>
                </table>  
            </td>
        </tr>

        <tr class="empty-50">
            <td class="main-td">
                <table class="main-child">
                <tr><td></td></tr>
                </table>  
            </td>
        </tr>
        
        <tr class="button-row button-one">
            <td class="main-td">
                <table class="main-child">
                <tr>
                    <td class="empty-child-one"></td>
                    <td class="second-child" align="center">
                    <a href="{{@root.accountsAppURL}}/sso-login/?app=connect&retUrl={{@root.connectURL}}/projects/{{projectId}}">
                        SSO Login
                    </a>
                    </td>
                    <td class="empty-child-one"></td>
                </tr>
                </table>
            </td>
        </tr>
        
    {{else}}
        <tr class="post-details">
            <td class="main-td">
                <table class="main-child">
                    <tr>
                        <td class="empty-child-one"></td>
                        <td>You have been invited to a project by {{initiator.firstName}} {{initiator.lastName}}. To join, please register with Topcoder.</td>
                    </tr>
                </table>  
            </td>
        </tr>

        <tr class="empty-50">
            <td class="main-td">
                <table class="main-child">
                <tr><td></td></tr>
                </table>  
            </td>
        </tr>
        <tr class="button-row button-one">
            <td class="main-td">
                <table class="main-child">
                <tr>
                    <td class="empty-child-one"></td>
                    <td class="second-child" align="center">
                    <a href="{{@root.accountsAppURL}}/connect/registration?retUrl={{@root.connectURL}}/projects/{{projectId}}">
                        Register
                    </a>
                    </td>
                    <td class="empty-child-one"></td>
                </tr>
                </table>
            </td>
        </tr>
    {{/if}}
    
    <tr class="empty-20">
        <td class="main-td">
            <table class="main-child">
            <tr><td></td></tr>
            </table>  
        </td>
    </tr>
{{/if}}