{{#if [PROJECT_TEAM]}}


<link rel="stylesheet" type="text/css" href="../styles/main.scss">
<tr class="post-head">
  <td class="main-td">
    <table class="main-child">
      <tr>
        <td class="empty-child-one"></td>
        <td class="comment-box"><img src="{{@root.workManagerUrl}}/static/comment.jpg" alt="IMG"></td>
        <td class="empty-child-two"></td>
        <td>
            {{title}}
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr class="empty-20">
    <td class="main-td">
        <table class="main-child">
        <tr><td></td></tr>
        </table>
    </td>
</tr>

{{#each notifications}}
<tr class="post-details">
    <td class="main-td">
        <table class="main-child">
        <tr>
            <td>
                <table>
                    <tr class="row-child-one" height="20">
                        <td class="empty-child-one"></td>
                        <td>
                        {{#if [connect.notification.project.member.assignedAsOwner]}}
                            <strong>{{userFullName}}</strong> assigned as project owner
                        {{/if}}
                        {{#if [connect.notification.project.member.copilotJoined]}}
                            <strong>{{userFullName}}</strong> joined the project as Copilot
                        {{/if}}
                        {{#if [connect.notification.project.member.managerJoined]}}
                            <strong>{{userFullName}}</strong> joined the project as Manager
                        {{/if}}
                        {{#if [connect.notification.project.member.removed]}}
                            {{#if [emailToAffectedUser]}}
                                You are removed from the project
                            {{else}}
                                <strong>{{userFullName}}</strong> left the project
                            {{/if}}
                        {{/if}}
                        {{#if [connect.notification.project.member.left]}}
                            <strong>{{userFullName}}</strong> left the project
                        {{/if}}
                        {{#if [connect.notification.project.member.joined]}}
                            <strong>{{userFullName}}</strong> joined the project
                        {{/if}}
                        {{#if [connect.notification.project.member.invite.created]}}
                            Hi <strong>{{userFullName}}</strong>, you are invited to join the project {{projectName}}. Please click on the button ("Join Project") below to join.
                        {{/if}}
                        {{#if [connect.notification.project.member.invite.requested]}}
                            You are requested to add <strong>{{userFullName}}</strong> as a copilot
                        {{/if}}
                        {{#if [connect.notification.project.member.invite.approved]}}
                            {{#if [originator]}}
                                Your request to add invite the member was approved
                            {{else}}
                                Hi <strong>{{userFullName}}</strong>, you are added as a copilot
                            {{/if}}
                        {{/if}}
                        {{#if [connect.notification.project.member.invite.rejected]}}
                            {{#if [originator]}}
                                Your request to add the member was refused
                            {{else}}
                                Request to add <strong>{{userFullName}}</strong> as copilot was refused
                            {{/if}}
                        {{/if}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
    </td>
</tr>
{{/each}}



<tr class="empty-50">
    <td class="main-td">
        <table class="main-child">
        <tr><td></td></tr>
        </table>
    </td>
</tr>
<tr class="button-row button-one">
    <td class="main-td">
        <table class="main-child">
        <tr>
            {{#if notifications.[0].[connect.notification.project.member.invite.created]}}
                <td class="empty-child-one for-two-buttons"></td>
                {{#if notifications.[0].[isSSO]}}
                    <td class="second-child" align="center">
                        <a href="{{@root.accountsAppURL}}/sso-login/?app=connect&retUrl={{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}/invitation/accepted">
                            Join Project
                        </a>
                    </td>
                    <td class="empty-width-10"></td>
                    <td class="second-child" align="center">
                        <a class="second-btn" href="{{@root.accountsAppURL}}/sso-login/?app=connect&retUrl={{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}/invitation/refused">
                            Decline
                        </a>
                    </td>
                {{else}}
                    <td class="second-child" align="center">
                        <a href="{{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}/invitation/accepted">
                            Join Project
                        </a>
                    </td>
                    <td class="empty-width-10"></td>
                    <td class="second-child" align="center">
                        <a class="second-btn" href="{{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}/invitation/refused">
                            Decline
                        </a>
                    </td>
                {{/if}}
                <td class="empty-child-one for-two-buttons"></td>
            {{else}}
                <td class="empty-child-one"></td>
                <td class="second-child" align="center">
                    {{#if notifications.[0].[connect.notification.project.member.invite.requested]}}
                        <a href="{{@root.workManagerUrl}}/users?projectId={{notifications.[0].projectId}}">
                            Manage project team
                        </a>
                    {{else}}
                        {{#if notifications.[0].[isSSO]}}
                            <a href="{{@root.accountsAppURL}}/sso-login/?app=connect&retUrl={{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}">
                                SSO Login
                            </a>
                        {{else}}
                            <a href="{{@root.workManagerUrl}}/projects/{{notifications.[0].projectId}}">
                                View project
                            </a>
                        {{/if}}
                    {{/if}}
                </td>
                <td class="empty-child-one"></td>
            {{/if}}
        </tr>
        </table>
    </td>
</tr>
<tr class="empty-20">
    <td class="main-td">
        <table class="main-child">
        <tr><td></td></tr>
        </table>
    </td>
</tr>
{{/if}}
