$background-color: #EBEBEB;
$main-font-color: #151516;
$white-background: #FFFFFF;
$main-heading-color:#404041;
$heading-color: #EDEDF2;
$grey-background: #FAFAFB;
$grey-color: #888894;
$blue-color: #006DEA;
$grey-hyperlink: #808080;
$button-color: #0681FF;
$tc-gray-70: #555555;
